* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Dosis');
body {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}

header {}

header img {}


@import url('https://fonts.googleapis.com/css?family=Raleway');
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

header,
nav,
main,
footer {
    width: 100%;
    max-width: 1500px;
}

header {
    background: #89AAE6;
    display: flex;
}

@import url('https://fonts.googleapis.com/css?family=Oswald');
header h1 {
    font-family: 'Oswald', sans-serif;
}

header img {
    margin-right: 10px;
}


nav {
    background: #0471A6;
    padding: 1px;
}


nav ul li {
    display: inline;

}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    background: #AC80A0;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    line-height: 50px;
    color: #061826;
    margin: 10px;
}

.weather-summary {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.highlow,
.current,
.conditions,
.sunnyblock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.highlow p,
.conditions p {
    padding: 10px;
}

.wst {
    text-align: center;
}



.current picture img {
    width: 100px;
    height: 100px;
}

.current {
    display: flex;
}

nav ul li.active a {}

nav ul li a:hover {
    box-shadow: 5px 5px rgba(6, 24, 38, 0.54);
    background: #40313c;
    color: #89AAE6;
}



main h2 {
    text-align: center;
}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}


main figure img {
    width: 100%;
}

.forecast {
    text-align: center;
}

.forecast table {
    margin: auto
    
}
.artname {
    text-align: center;
}

article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article div {
    width: 40%;
    min-width: 230px;
    padding: 5px;
}

.town-article {
    text-align: justify;
}

.newpic {
    width: 100%;
}

footer {}

.contact,
.footer-bar {
    background: #3685B5;
}

.contact h4 {
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.contactlinks {
    text-decoration: none;
    color: #3c2837;
}

.contactlinks:hover {
    color: white;
}

.footer-bar h4 {
    text-align: center;
    padding: 10px;
    margin: 5px;
}
